<%= render 'layouts/sts' %>
<style>
  html{
    background: #bbbbbb;

  }
  ul{
    list-style-type:none;
  }
</style>
  <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%=link_to 'SQL тренер Админ', admin_path,method: :get,:class=> "navbar-brand"	  %>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= @use= 'Список пользователей'
              link_to @use,ul_path, method: :get	%>
        </li>
        <li>
          <%= @use= 'Конструктор задач'
              link_to @use,tl_path, method: :get	%>
        </li>
        <li>
          <%= @use= 'Конструктор теста'
              link_to @use,tsl_path, method: :get	%>
        </li>
               <li>
                 <%= link_to 'Выйти', signout_path, method: :get   %>
               </li>
      </ul>
    </div>
  </div>
</nav>
