<%if @res == false	  %>
    <%=@res='Неправильный запрос!' %>
    <%else%>
    <div class="modal-body">
<table class="table table-hover table-condensed">
    <thead>
    <tr>
      <% @res.columns.each do |x| %>
          <th>
          <abbr title="<%= x%>">
            <h5>
              <%= x.to_s[0..10]%>
            </h5>
          </abbr>
          </th>
      <%end%>
    </tr>
    </thead>
    <tbody>
      <% $n=@res.columns.length
        @res.rows.each  do|x| %>
        <tr>
            <%	$i=0
            while $i<$n %>
              <td>
                <abbr title="<%= x[$i]%>">
                  <h5> <%= x[$i].to_s[0..10]%> </h5>
                </abbr>
               </td>
      <% $i=$i+1
         end%>
      </tr>
      <%end%>
    </tbody>
    </table>
    </div>
<%end%>