<%= render 'maket' %>
<div class="login-page">
  <div class="form">
    <h2 class="form-signin-heading">Введите данные коректно</h2>
    <%= form_for(@test,url:"/tsu#{enc(@test.id)}" ) do |f|  %>
        <%= f.text_field :name ,placeholder: 'Названия теста' %>
        <%= f.text_field :description ,placeholder: 'Описания теста'%>
        <abbr title="Когда будет доступен тест?">
          <%=f.datetime_field :start_t%>
        </abbr>
        <%= f.password_field :password ,placeholder: 'Пароль'%>
        <abbr title="Статус теста" ><%=f.select :active,options_for_select([["доступен",true],["недоступен",false] ])  %></abbr>
        <%= f.submit 'Обновить', class: "button" %>
    <% end %>
  </div>
</div>

