<%= render 'layouts/sts' %>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%=link_to 'SQL TRENER',home_path,method: :get,class: "navbar-brand"%>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%=link_to 'Помощь',help_path,method: :get	 %>
        </li>
        <li>
          <%=link_to 'О нас',about_path,method: :get	 %>
        </li>
        <% if session[:user_id]!= nil %>
            <li>
              <%=link_to 'профиль',im_path,method: :get	%>
            </li>
            <li>
              <%= link_to 'Выйти', signout_path, method: :get   %>
            </li>
            <%	else  %>
            <li>
              <%=link_to 'Войти',signin_path,method: :get	 %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>